body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #001f3f;
    color: white;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Hace la imagen circular */
    object-fit: cover;
    cursor: pointer;
}

.logo img:hover {
    transform: scale(1.2); /* Aumenta el tamaño al 120% */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #444;
    padding: 10px;
    border-radius: 8px;
}

.nav-links li {
    margin: 10px 0;
}

.nav-links a {
    text-decoration: none;
    color: white; /* Color inicial del enlace */
    font-size: 16px; /* Tamaño base */
    transition: color 0.3s ease, transform 0.3s ease; /* Suaviza el cambio de color y tamaño */
}

.nav-links a:hover {
    color: #ffbc0e; /* Nuevo color al pasar el cursor */
    transform: scale(1.2); /* Agranda el enlace al 120% */
}

.btn {
    margin-left: auto;
    text-decoration: none;
}

.btn button {
    font-weight: 700;
    color: #1b3039cb;
    padding: 9px 25px;
    background-color: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
    }
    .hamburger {
        display: flex;
        padding-left: 5%;
    }
}